.profile__info{
    display: flex;
    flex-direction: row;
    position:relative;
}

@media screen and (max-width:700px){
    .profile__info{
        align-items: center;
        flex-direction: column;
    }
}