.popup__row{
    color: #000000;
    margin:15px 0 0 0;
    padding-bottom:13px;
    outline: none;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    border:none;
    width:100%;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

@media screen and (max-width:500px){
    .popup__row{
        font-size: 14px;
        line-height: 17px;
    }
}