.profile__status{
color:white;
margin: 0;
font-family: 'Inter', sans-serif, Arial, Helvetica;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 22px;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
max-width: 350px;
}

@media screen and (max-width:400px){
    .profile__status{
font-size: 14px;
line-height: 17px;
    }
}