.gallery__item-like{
align-self: flex-start;
background-image: url(./../../../images/heart.svg);
width:20px;
height:18px;
background-size: contain;
cursor: pointer;
background-color: transparent;
border:none;
outline: none;
}

.gallery__item-like:hover{
    animation: opacity linear 0.3s forwards;
    }