.gallery__likes{
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #000000;
}