.header{
    max-width:880px;
    display: flex;
    color:white;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    justify-content: space-between;
    margin:0 auto 40px auto;
    padding: 45px 0 41px 0;
    border-bottom: 1px solid rgba(84, 84, 84, .7);
}

@media screen and (max-width:900px){
    .header{
        margin:0 auto 40px auto;
        padding: 28px 0 31px 27px;
    }
}